.cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 90%;
  height: auto;
}

.cart__header {
  padding: 1rem;
}

.cart__title {
  font-size: 5rem;
  text-align: center;
}

.cart__description {
  font-size: 3rem;
  text-align: center;
}

.cart__items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin: 1rem 0 1rem 0;
}

.cart__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
  width: 100%;
  height: 15rem;
  border-top: 0.2rem solid var(--color-black);
}

.cart__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 1rem 0 0 0;
  width: 100%;
}

.cart__price-title {
  font-size: 2rem;
}

.cart__price-number {
  font-size: 2rem;
  font-weight: 700;
}

.cart__clear-cart {
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--color-red);
  background: none;
  font-size: 2rem;
  color: var(--color-red);
  padding: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .cart__items {
    max-width: 50rem;
  }

  .cart__total {
    max-width: 55rem;
  }
}
