.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0.625rem;
  height: 4.375rem;
  width: 100%;
  background-color: var(--color-primary);
}

.navbar__title {
  color: var(--color-white);
  font-size: 2.5rem;
}

.navbar__shop {
  position: relative;
}

.navbar__shop-icon {
  position: relative;
  left: -0.9375rem;
  font-size: 1.875rem;
  color: var(--color-white);
}

.navbar__shop-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -0.625rem;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--color-secondary);
}

.navbar__shop-amount-text {
  font-size: 1.25rem;
  color: var(--color-white);
}
