.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: 6.25rem;
}

.item__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.item__img {
  width: 4.375rem;
  height: 4.375rem;
  object-fit: cover;
}

.item__information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
  flex: 2 1 auto;
  width: 12.5rem;
}

.item__title {
  font-size: 1.25rem;
  margin-bottom: 0.3125rem;
}

.item__price {
  font-size: 0.9375rem;
  font-weight: 600;
  margin-bottom: 0.3125rem;
}

.item__remove {
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 0.9375rem;
  font-weight: 600;
}

.item__amount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  flex: 1 1 auto;
}

.item__increase-icon,
.item__decrease-icon {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--color-primary);
}

.item__increase,
.item__decrease {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.item__amount-text {
  font-size: 1.25rem;
  font-weight: 900;
}

@media only screen and (min-width: 280px) and (max-width: 360px) {
  .item__img {
    width: 3.125rem;
    height: 3.125rem;
  }

  .item__information {
    width: 9.375rem;
  }

  .item__title {
    font-size: 0.9375rem;
  }

  .item__price {
    font-size: 0.625rem;
  }
}
